@font-face {
 font-family: "Roobert";
 font-weight: 400;
 font-style: normal;
 src: url("../fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
 font-family: "Roobert";
 font-weight: 400;
 font-style: italic;
 src: url("../fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
 font-family: "Roobert";
 font-weight: 600;
 font-style: normal;
 src: url("../fonts/Roobert-SemiBold.woff2") format("woff2");
}

@font-face {
 font-family: "Roobert";
 font-weight: 600;
 font-style: italic;
 src: url("../fonts/Roobert-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/InputMono-Regular.woff2") format("woff2"),
      url("../fonts/InputMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/InputMono-Bold.woff2") format("woff2"),
      url("../fonts/InputMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/InputMono-BoldItalic.woff2") format("woff2"),
      url("../fonts/InputMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/InputMono-Italic.woff2") format("woff2"),
      url("../fonts/InputMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

.color-white { color: #F6F4F2; } /* White */
.color-black { color: #2E2C2C; } /* Black */
.color-red, .color-targets { color: #FF4B4B; }/* red: */
.color-orange, .color-properties { color: #FF8F42; }/* orange: */
.color-lightorange, .color-prop-params { color: #FFC730; }/* lightorange: */
.color-yellow, .color-anim-params { color: #F6FF56; }/* yellow: */
.color-citrus, .color-values { color: #A4FF4F; }/* citrus: */
.color-green, .color-keyframes { color: #18FF74; }/* green: */
.color-darkgreen, .color-staggering { color: #00D672; }/* darkgreen: */
.color-turquoise, .color-tl { color: #3CFFEC; }/* turquoise: */
.color-skyblue, .color-controls { color: #61C3FF; }/* skyblue: */
.color-kingblue, .color-callbacks { color: #5A87FF; }/* kingblue: */
.color-lavender, .color-svg { color: #8453E3; }/* lavender: */
.color-purple, .color-easings { color: #C26EFF; }/* purple: */
.color-pink, .color-helpers { color: #FB89FB; }/* pink: */